$width: 250px !default;
$height: 350px !default;

$degradado: linear-gradient(
  hsla(340, 80, 60, 0.6),
  hsla(200, 80, 60, 0.6)
) !default;

$font-size-title:1.5rem !default;
$font-size-text:1rem !default;

$color-text: white !default;
$color-title: lighten(black,20%) !default;

.card {
  overflow: hidden;
  position: relative;
  width: $width;
  height: $height;

  transform: scale(0.8, 0.8);

  .card-imagen{
    height: 100%;
    width: 100%;

    .card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s linear;
    }

  }

  
  &:after {
  	content: "";

    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 100%;
   
    background: $degradado;
    border-radius: 50%;

    transform: translate(-50%, 50%) scale(0.01);
    transition: transform 0.3s linear;
   }

 .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
  }

 .card-title {
   transform: translate(0, $width * -3 );
   font-size: $font-size-title;
   color:$color-title;
 }
 .card-text {
   font-size: $font-size-text;
   transform: translate(0, $width * 3 );
    color:$color-text;
 }

 &:hover {
    .card-content {
      transform: translate(0);
      transition: transform 0.3s linear 0.2s;
    }

    &::after {
      transform: scale(2.5) rotate(45deg);
      transition: transform 0.3s linear;
    }

    .card-img {
      transform: scale(1.5) rotate(10deg);
      transition: transform 0.2s linear;
    }

    .card-text,
    .card-title {
      transform: translate(0, 0);
      transition: transform 0.2s 0.3s;
    }
  }

}
