*,
*::before,
*:after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family : sans-serif;
}

a{
  text-decoration: none;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  @media(min-width:1800px){
    width:1800px;
  }
}

img{
  width:100%;
  display:block;
}
