
mixin slider(slider)     
  mixin imagen(url,key,title,text)
    div(class="imagen")
      img(src=url alt=key)
      div(class="content-imagen")
        p(class="imagen-title")= title
        p(class="imagen-text")= text
        
  
  
  div(class="container")
    div(class="banner")
      div(class="slider")
        each  item  in slider
          +imagen(item.url,item.key,item.title,item.text)
